{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consectetur consequuntur dolore eos facilis molestiae nulla quaerat quod repellendus sint sit, tenetur voluptas. Ad architecto ducimus, eum itaque minima natus nesciunt nihil numquam perferendis recusandae soluta, unde voluptate voluptatibus. Consequuntur cum illo maiores, provident reiciendis repellat temporibus.</p>
        <button type="button" class="btn btn-danger">Просто нажми на меня</button>
    </div>
{% endblock %}