{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consectetur consequuntur dolore eos facilis molestiae nulla quaerat quod repellendus sint sit, tenetur voluptas. Ad architecto ducimus, eum itaque minima natus nesciunt nihil numquam perferendis recusandae soluta, unde voluptate voluptatibus. Consequuntur cum illo maiores, provident reiciendis repellat temporibus.</p>
        <button type="button" class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}